{% extends 'smllr/base.html' %}
{% load static %}

{% block title %}{{ shorturl.name|default:shorturl.short_code }} - smllr{% endblock %}

{% block content %}

<div class="container mx-auto" x-data="analyticsData()" x-init="init()">
  {% include 'smllr/partials/shorturl_details_pane.html' %}

  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-4">
    <div class="flex flex-col border-1 border-gray-600 rounded-lg">
      <div class="border-b-1 border-gray-600 px-4 py-2 mb-2">
        <h3 class="font-bold text-lg">Latest clicks</h3>
      </div>
      <ul class="px-4 py-2 overflow-x-hidden overflow-y-auto max-h-88">
        <template x-for="click in latestClicks">
          <li class="flex justify-between items-center py-2">
            <div>
              <span x-text="click.ip_address"></span> - <span x-text="click.os"></span> - <span
                x-text="click.browser_name"></span> <span x-text="click.browser_version"></span>
            </div>
            <div>
              <span x-text="click.clicked_at"></span>
            </div>
          </li>
        </template>
      </ul>
    </div>

    <div class="flex flex-col max-h-140 md:max-h-128 border-1 border-gray-600 rounded-lg">
      <div class="border-b-1 border-gray-600 px-4 py-2 mb-2">
        <h3 class="font-bold text-lg">Clicks by platform</h3>
      </div>

      <div class="flex flex-col md:flex-row justify-between">
        <div class="w-full mr-24">
          <ul class="px-4 py-2">
            <li class="flex justify-between items-center py-2">
              <span>Total clicks</span>
              <span x-text="totalClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2">
              <span>Windows clicks</span>
              <span x-text="windowsClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2">
              <span>Linux clicks</span>
              <span x-text="linuxClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2">
              <span>Android clicks</span>
              <span x-text="androidClicks">0</span>
            </li>
          </ul>
        </div>

        <div class="max-w-96 md:mr-12 py-4">
          <canvas id="chart-click-by-platform" class="max-h-96 mx-auto"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/analytics.js' %}"></script>
{% endblock %}