{% extends 'smllr/base.html' %}

{% block content %}

<div class="flex flex-col justify-center items-center mt-4">
  <h1 class="text-5xl font-bold bg-gradient-to-r from-primary via-accent to-primary bg-clip-text text-transparent">URL Shortener</h1>
  <p class="text-lg text-muted-foreground mt-1">Transform long URLs into short, shareable links in seconds</p>
</div>

<div class="mx-auto max-w-5xl">
  <div class="flex flex-col mt-8 rounded-lg border-2 shadow-lg bg-white">
    <div class="px-6 py-4">
      <h1 class="text-lg font-bold">Shorten your URL</h1>
      <p class="text-md mt-1">Enter a long URL below to create a shortened version</p> 
    </div>
    {% if form.non_field_errors %}
    <div class="bg-red-500 text-white px-6 py-4">
      <p>{{ form.non_field_errors }}</p>
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="flex gap-2 py-4 px-6">
          <div class="flex w-full">
            <input type="text" name="{{ form.destination_url.name }}" id="{{ form.destination_url.id_for_label }}"
              class="w-full px-2 py-2 border-1 shadow-sm rounded-lg"
              placeholder="https://www.example.com/your-very-long-url" required>
            {% if form.destination_url.errors %}
            <div class="text-red-500">
              {% for error in form.destination_url.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="flex justify-start">
            <button type="submit" class="px-10 py-1 bg-primary duration-300 rounded-full text-white">
              Shorten
            </button>
          </div>
        </div>
    </form>
  </div>

  <div class="flex flex-col">
    {% include 'smllr/partials/shorturl_list_table.html' %}
  </div>
</div>

{% endblock %}
