{% extends 'smllr/base.html' %}
{% load static %}

{% block title %}{{ shorturl.name|default:shorturl.short_code }} - smllr{% endblock %}

{% block content %}

<div class="container mx-auto" x-data="analyticsData()" x-init="init()">
  {% include 'smllr/partials/shorturl_details_pane.html' %}

  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-4">
    <div class="flex flex-col border-2 shadow-lg rounded-lg">
      <div class="border-b-1 shadow-lg px-4 py-2 mb-2">
        <h3 class="font-bold text-lg">Latest clicks</h3>
      </div>
      <table class="mx-auto text-left w-full">
        <thead class="border-b-1">
          <tr class="bg-muted/50">
            <th class="px-6 py-3">Ip address</th>
            <th class="px-6 py-3">Platform</th>
            <th class="px-6 py-3">Browser</th>
            <th class="px-6 py-3">Date</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="click in latestClicks">
            <tr class="hover:bg-muted/30">
              <td class="px-6 py-3" x-text="click.ip_address" />
              <td class="px-6 py-3" x-text="click.os" />
              <td class="px-6 py-3" x-text="click.browser_name" />
              <td class="px-6 py-3" x-text="click.clicked_at" />
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="flex flex-col border-2 shadow-lg rounded-lg">
      <div class="border-b-1 shadow-lg px-4 py-2 mb-2">
        <h3 class="font-bold text-lg">Clicks by source</h3>
      </div>
      <table class="mx-auto text-left w-full">
        <thead class="border-b-1">
          <tr class="bg-muted/50">
            <th class="px-6 py-3">Source</th>
            <th class="px-6 py-3">Count</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-muted/30">
            <td class="px-6 py-3">Instagram</td>
            <td class="px-6 py-3" x-text="instagramClicks" />
          </tr>
          <tr class="hover:bg-muted/30">
            <td class="px-6 py-3">Facebook</td>
            <td class="px-6 py-3" x-text="facebookClicks" />
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex flex-col max-h-140 md:max-h-128 border-2 shadow-lg rounded-lg">
      <div class="border-b-1 shadow-lg px-4 py-2 mb-2">
        <h3 class="font-bold text-lg">Clicks by platform</h3>
      </div>

      <div class="flex flex-col md:flex-row justify-around">
        <div class="w-full mr-12">
          <ul class="px-4 py-2">
            <li class="flex justify-between items-center py-2 gap-4">
              <span>Total</span>
              <span x-text="totalClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2 gap-4">
              <span>Windows</span>
              <span x-text="windowsClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2 gap-4">
              <span>Linux</span>
              <span x-text="linuxClicks">0</span>
            </li>

            <li class="flex justify-between items-center py-2 gap-4">
              <span>Android</span>
              <span x-text="androidClicks">0</span>
            </li>
          </ul>
        </div>

        <div class="max-w-96 md:mr-12 py-4">
          <canvas id="chart-click-by-platform" class="max-h-96 mx-auto"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/analytics.js' %}"></script>
{% endblock %}
