{% extends 'smllr/base.html' %}

{% block content %}

<div class="container mx-auto">
  <div class="flex flex-col max-w-128 mx-auto mt-8 border-1 border-gray-600 rounded-lg">
    <div class="border-b-1 border-gray-600 px-6 py-4">
      <h1 class="text-2xl text-gray-200 font-bold">Shorten your URL</h1>
    </div>
    {% if form.non_field_errors %}
    <div class="bg-red-500 text-white px-6 py-4">
      <p>{{ form.non_field_errors }}</p>
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="flex flex-col gap-8 py-4 px-6">
        <div class="flex flex-col gap-2">
          <label for="{{ form.destination_url.id_for_label }}" class="text-gray-200">Destination URL</label>
          <input type="text" name="{{ form.destination_url.name }}" id="{{ form.destination_url.id_for_label }}"
            class="px-4 py-2 border-1 border-gray-600 rounded-lg text-white"
            placeholder="https://www.example.com/your-very-long-url" required>
          {% if form.destination_url.errors %}
          <div class="text-red-500">
            {% for error in form.destination_url.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <button type="submit"
          class="px-6 py-4 bg-blue-900 hover:bg-blue-950 duration-300 rounded-md font-bold text-white">
          Shorten it
        </button>
      </div>
    </form>
  </div>

  <div class="rounded-lg overflow-hidden border-gray-950 mt-8">
    <table class="mx-auto text-left text-gray-500 w-full">
      <thead class="bg-gray-900">
        <tr>
          <th class="px-6 py-3">Destination URL</th>
          <th class="px-6 py-3">Short code</th>
          <th class="px-6 py-3">Clicks</th>
          <th class="px-6 py-3">Created at</th>
          <th class="px-6 py-3">-</th>
        </tr>
      </thead>
      <tbody>
        {% for shorturl in shorturls_list %}
        <tr class="bg-gray-800">
          <td class="px-6 py-4">{{ shorturl.destination_url }}</td>
          <td class="px-6 py-4">{{ public_url }}/{{ shorturl.short_code }}</td>
          <td class="px-6 py-4">{{ shorturl.clicks }}</td>
          <td class="px-6 py-4">{{ shorturl.created_at }}</td>
          <td class="px-6 py-4">
            <a href="{% url 'shorturls_analytics' short_code=shorturl.short_code %}"
              class="text-blue-500 hover:underline">
              Dashboard
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">No short URLs created yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}