kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: smllr
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 32080
    hostPort: 80
  - containerPort: 32443
    hostPort: 443
  - containerPort: 32090
    hostPort: 9000
