@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
}

:root {
  --primary-color: #3b82f6;
  --primary-color-darker: #2563eb;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-primary:hover {
  background-color: var(--primary-color-darker);
}

.text-primary {
  color: var(--primary-color);
}

.text-primary:hover {
  color: var(--primary-color-darker);
}

.border-primary {
  border-color: var(--primary-color);
}
